name: Build APK
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: expo/expo-github-action@v8
        with:
          token: ${{ secrets.EXPO_TOKEN }}
      - run: npm install && eas build --platform android --wait
      - uses: actions/upload-artifact@v4
        with:
          name: manospy2
          path: "*.apk"
