name: Build MANOSPY2 APK

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      
      - run: npm install
      
      - run: eas build --platform android --wait

      - uses: actions/upload-artifact@v3
        with:
          name: MANOSPY2
          path: "*.apk"
          retention-days: 30
